name: Scala CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'sbt'
    - uses: sbt/setup-sbt@v1
    - name: Build
      run: make dist && ./sc4pac --version && sha256sum target/dist/sc4pac*.zip
    - uses: actions/upload-artifact@v4
      with:
        name: sc4pac-cli-artifact
        path: target/dist/sc4pac*.zip
        retention-days: 7
    - name: Test
      run: sbt test

  # platform-specific tests, mainly checking the launch scripts
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: windows-latest
            platform: windows
    needs: [ build ]
    runs-on: ${{ matrix.os }}
    name: test.${{ matrix.platform }}
    steps:
      - uses: actions/download-artifact@v4  # downloads all artifacts uploaded during this run
        with:
          merge-multiple: true  # downloads artifacts into same directory .
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'  # the currently minimum supported version by sc4pac libs
          distribution: 'temurin'
          java-package: 'jre'
          # cache: 'sbt'  # not needed
      - name: Extract
        shell: bash
        run: |
          unzip -d . sc4pac*.zip
      - name: Test (Windows)
        if: ${{ matrix.platform == 'windows' }}
        shell: pwsh
        run: |
          .\sc4pac --version
          .\sc4pac --help
      - name: Test (Linux)
        if: ${{ matrix.platform == 'linux' }}
        shell: bash
        run: |
          ./sc4pac --version
          ./sc4pac --help

      - name: Initialize sc4pac
        # creates "sc4pac-plugins.json"
        shell: bash
        run: |
          cat >sc4pac-plugins.json <<EOL
          {
            "config": {
              "pluginsRoot": "$(echo "$GITHUB_WORKSPACE" | tr '\\' '/')/Documents/SimCity 4/Plugins",
              "cacheRoot": "tmp_build/cache",
              "tempRoot": "tmp_build/temp",
              "variant": {"config:sc4-edition:edition": "Windows-digital"},
              "channels": [
                "https://memo33.github.io/sc4pac/channel/",
                "https://sc4pac.simtropolis.com/"
              ]
            },
            "explicit": []
          }
          EOL

      - name: Install and uninstall a package (Windows)
        if: ${{ matrix.platform == 'windows' }}
        shell: pwsh
        run: |
          .\sc4pac add memo:submenus-dll
          .\sc4pac update -y
          # set installed folders as read-only to test against https://github.com/memo33/sc4pac-tools/issues/40
          Get-ChildItem -Path "$env:GITHUB_WORKSPACE\Documents\SimCity 4\Plugins" -Recurse -Directory | % { $_.Attributes += 'ReadOnly' }
          .\sc4pac remove memo:submenus-dll
          .\sc4pac update -y
      - name: Install and uninstall a package (Linux)
        if: ${{ matrix.platform == 'linux' }}
        shell: bash
        run: |
          ./sc4pac add memo:submenus-dll
          ./sc4pac update -y
          ./sc4pac remove memo:submenus-dll
          ./sc4pac update -y

      - name: Test detection of occupied port
        shell: bash
        run: |
          PORT_OCCUPIED=56
          ./sc4pac server --port 51500 &
          PID1="$(echo $!)"
          echo "==> Started process 1: PID1=$PID1"
          sleep 20
          {
            EXIT_CODE2=0;
            ./sc4pac server --port 51500 || EXIT_CODE2=$?;
            [[ "$EXIT_CODE2" == "$PORT_OCCUPIED" ]] && echo "==> successfully detected occupied port" || {
              echo "==> failed to detect occupied port (exit code $EXIT_CODE2 was not $PORT_OCCUPIED)" && false;
            }
          } &
          PID2="$(echo $!)"
          echo "==> Started process 2: PID2=$PID2"
          sleep 20
          echo "==> Terminating process 2"
          ! { kill "$PID2" 2&>/dev/null && echo "unexpected timeout: 2nd server command was too slow"; }
          wait "$PID2"
          echo "==> Terminating process 1"
          kill "$PID1"
